<section class="card">
  <header class="card-logo">
    <img class="header-logo__icon header-logo__icon_blue"
         src="assets/check.svg"
         alt="Logo icon">
    <a class="header-logo__title" routerLink="">To Do</a>
  </header>
  <section class="card-form">
    <div class="card-form__item">
      <label class="card__label" for="emailInput">Email:</label>
      <input [(ngModel)]="email" id="emailInput" class="card__input" type="email" (input)="validateEmail()">
      <p id="emailError" class="input-error" [ngClass]="emailValid ? '' : 'input-error_active'">Email is invalid</p>
    </div>
    <div class="card-form__item">
      <label class="card__label" for="password1Input">Password:</label>
      <input [(ngModel)]="password1" id="password1Input" class="card__input" type="password" (input)="validatePassword1()">
      <p id="password1Error" class="input-error" [ngClass]="password1Valid ? '' : 'input-error_active'">Password is too short</p>
    </div>
    <p id="authError" class="input-error" [ngClass]="authSuccess ? '' : 'input-error_active'">Authentication failed. Please try again.</p>
    <input class="card__submit" type="submit" value="Log in" (click)="submit()">
  </section>
  <div class="card-auth">
    <p class="card-auth__text">Don't have an account?</p>
    <a class="card-auth__link" routerLink="/signup">Sign up</a>
  </div>
</section>
