<header class="header">
  <div class="header-logo">
    <img class="header-logo__icon header-logo__icon_blue" src="assets/check.svg"
         alt="Logo icon">
    <a class="header-logo__title" routerLink="">To Do</a>
  </div>
  <section *ngIf="!authenticated; else elseBlock" class="header-auth">
    <a class="header-auth__item" routerLink="/login">Log in</a>
    <a class="header-auth__item" routerLink="/signup">Sign Up</a>
  </section>
  <ng-template #elseBlock class="header-auth">
    <a class="header-auth__item" (click)="logout()">
      <img class="header-logo__icon" src="assets/logout.svg"
           alt="Logout icon">
      Log out
    </a>
  </ng-template>
</header>
