:root {
    --white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7421%) hue-rotate(348deg) brightness(128%) contrast(88%);
    --main-blue-filter: invert(15%) sepia(78%) saturate(3178%) hue-rotate(209deg) brightness(93%) contrast(102%);
}

.header {
    padding-right: 10px;
    padding-left: 20%;
}

@media screen and (max-width: 800px) {
    .header {
        padding-right: 2%;
        padding-left: 2%;
    }

    .header-logo {
        display: none;
    }

    .header-logo__icon {
        display: none;
    }
}

.menu-button {
    display: none;
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .menu-button {
        display: initial;
    }
}

.menu-button__icon {
    display: none;
    width: 36px;
    height: 36px;
}

@media screen and (max-width: 800px) {
    .menu-button__icon {
        display: initial;
    }
}

.header__notification-button {
    background-color: white;
    border: none;
    border-radius: 100%;
    transition: linear 100ms;
    cursor: pointer;
}

.header__notification-button:hover {
    background-color: #eeeeee;
}

.header__notification-button-icon {
    width: 36px;
    height: 36px;
    padding: 3px;
}

.notifications {
    position: fixed;
    left: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 500px;
    background-color: white;
    z-index: 1;
    border-radius: 1rem;
}

.notifications_hidden {
    display: none;
    overflow: hidden;
}

.notification {
    display: flex;
    gap: 10px;
    align-items: center;
}

.notification__icon {
    height: 48px;
    width: 48px;
}

.notification__text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.notifications__line {
    width: 100%;
}

.menu {
    display: none;
    padding-block: 1%;
    transition: all .5s ease;
    will-change: transform;
}


@media screen and (max-width: 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        max-height: 250px;
        min-height: fit-content;
    }
}

.menu_hidden {
    max-height: 0;
    padding: 0;
    margin: 0;
    transition: all .5s ease;
    will-change: transform;
}

.menu-title {
    font-size: 1.1rem;
    margin: 0;
}

.categories-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categories-menu_hidden {
    display: none;
}

.categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .categories-list {
        display: initial;
    }
}

.categories-list__item {
    font-size: 1.3rem;
    cursor: pointer;
}

.tags-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tags-menu_hidden {
    display: none;
}

.tags-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .tags-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.tags-list__item {
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
}

.main {
    display: flex;
    flex: 1;
}

.side-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

@media screen and (max-width: 800px) {
    .side-menu {
        display: none;
    }
}

.side-menu_darkened {
    filter: brightness(50%);
}

.side-menu-categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.side-menu-categories__item {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding-block: .5rem;
    padding-left: 1rem;
    gap: 1rem;
    background-color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: linear 100ms;
}

.side-menu-categories__item:hover {
    background-color: #7895e3;
    color: white;
}

.side-menu-categories__item_active {
    color: white;
    background-color: var(--main-blue-color);
    cursor: default;
}

.side-menu-categories__item_active:hover {
    background-color: var(--main-blue-color);
}

.side-menu-categories__item_bottom {
    position: fixed;
    bottom: 0;
    width: 20%;
}

.side-menu-categories__icon {
    width: 40px;
    height: 40px;
    transition: linear 100ms;
}

@media screen and (max-width: 1000px) {
    .side-menu-categories__icon {
        display: none;
    }
}

.side-menu-categories__item:hover .side-menu-categories__icon {
    filter: var(--white-filter)
}

.side-menu-categories__icon_active {
    filter: var(--white-filter);
}

.side-menu-tags {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 1rem;
}

.side-menu-tags__title {
    margin: 0;
    color: #727272;
    font-weight: 600;
}

.tags-buttons {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 5px;
}

.tags-buttons__item {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 50px;
    align-items: center;
    padding-block: .3rem;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: linear 100ms;
}

.tags-buttons__item:hover {
    background-color: #dedede;
}

.tags-buttons__item_active {
    background-color: black;
    color: white;
}

.tags-buttons__item_active:hover {
    background-color: black;
}

.tags-buttons__icon {
    width: 24px;
    height: 24px;
    padding-left: .2rem;
}

.tags-buttons__icon_active {
    filter: var(--white-filter);
}

.main-panel {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    padding-top: 1.5rem;
}

@media screen and (max-width: 800px) {
    .main-panel {
        width: 100%;
        height: 100%;
    }
}

.main-panel_darkened {
    filter: brightness(50%);
}

.note-form {
    position: fixed;
    top: calc(50% - 125px);
    left: calc(50% - 300px);
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 350px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1;
}

.note-form_hidden {
    display: none;
}

.note-form__header {
    display: flex;
    width: 100%;
}

.note-form__input {
    text-align: center;
    border: none;
    width: 100%;
}

.note-form__input:focus {
    outline: none;
}

.note-form__input::placeholder {
    font-weight: 300;
}

.note-form__title {
    height: 1.5em;
    font-size: 2rem;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.note-form__pin-checkbox {
    display: none;
}

.note-form__pin-checkbox + .note-form__pin-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 0;
    opacity: 50%;
    cursor: pointer;
    transition: linear 50ms;
}

.note-form__pin-checkbox:checked + .note-form__pin-icon {
    opacity: 100%;
}

.note-form__body {
    flex-grow: 1;
    padding-right: 5px;
    padding-left: 5px;
}

.note-form__body-input {
    height: 100%;
    text-align: left;
    padding: 0;
    resize: none;
    font-size: 1.2rem;
}

.note-form__footer {
    display: flex;
    padding: 10px 15px 10px 15px;
    align-items: center;
    justify-content: center;
}

.note-form__list-button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
}

.note-form__list-button:hover .note-form__list-icon {
    filter: var(--main-blue-filter);
}

.note-form__list-icon {
    width: 40px;
    height: 40px;
}

.note-form__tag-input {
    font-size: 1.5rem;
}

.note-form__picture-button {
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
}

.note-form__picture-button:hover .note-form__picture-icon {
    filter: var(--main-blue-filter)
}

.note-form__picture-icon {
    width: 40px;
    height: 40px;
}

.main-panel__add-button {
    background-color: white;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 25px;
    border: solid 2px black;
    border-radius: 2rem;
    padding-block: 7px;
    padding-left: 15px;
    font-size: 1.7rem;
    font-weight: 400;
    cursor: pointer;
    transition: linear 100ms;
}

.main-panel__add-button:hover {
    background-color: #dfdfdf;
}

.main-panel__add-button-icon {
    width: 30px;
    height: 30px;
    transition: linear 100ms;
}

.main-panel__add-button:hover .main-panel__add-button-icon {
    width: 1em;
    height: 1em;
}

.notes {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 800px) {
    .notes {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 100%;
    }
}

.note {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: solid 2px black;
    padding-block: 8px;
    padding-inline: 15px;
    margin-bottom: 5px;
    height: fit-content;
    max-width: 20%;
    min-width: 200px;
    max-height: 300px;
    cursor: pointer;
    transition: linear 100ms;
}

@media screen and (max-width: 800px) {
    .note {
        max-width: none;
        width: 90%;
    }
}

.note:hover {
    border: solid 2px var(--main-blue-color);
}

.note:hover .note__title {
    color: var(--main-blue-color);
}

.note__header {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
}

.note__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    transition: linear 100ms;
}

.note__pin-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.note:hover .note__pin-icon {
    display: initial;
    filter: opacity(30%);
}

.note__pin-icon_active {
    display: initial;
    transition: linear 100ms;
}

.note:hover .note__pin-icon_active {
    display: initial;
    filter: opacity(100%);
}

.note__pin-icon_active:hover {
    filter: opacity(30%);
    background-color: #dedede;
    border-radius: 5px;
}

.note__text {
    margin: 0 0 6px 0;
    font-size: 1.1rem;
    line-clamp: 15;
}

.note-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.note-list__item {
    display: flex;
    align-items: center;
    gap: 7px;
}

.note-list__checkbox {
    margin: 0;
    border: solid 2px black;
    color: black;
    border-radius: 0;
    width: 15px;
    height: 15px;
}

.note-list__text {
    margin: 0;
    font-size: 1.1rem;
}

.note-list__extension {
    width: 20px;
    height: 20px;
}
