<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do: Sign up</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/auth.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img class="header-logo__icon header-logo__icon_blue"
             src="../static/img/check.svg"
             alt="Logo icon">
        <a class="header-logo__title" href="../index.html">To Do</a>
    </div>
    <section class="header-auth">
        <a class="header-auth__item" href="../templates/login.html">Log in</a>
        <a class="header-auth__item" href="../templates/signup.html">Sign Up</a>
    </section>
</header>
<main class="main">
    <section class="card">
        <header class="card-logo">
            <img class="header-logo__icon header-logo__icon_blue"
                 src="../static/img/check.svg"
                 alt="Logo icon">
            <a class="header-logo__title" href="../index.html">To Do</a>
        </header>
        <section class="card-form">
            <div class="card-form__item">
                <label class="card__label" for="usernameInput">Username:</label>
                <input id="usernameInput" class="card__input" type="text">
            </div>
            <div class="card-form__item">
                <label class="card__label" for="emailInput">Email:</label>
                <input id="emailInput" class="card__input" type="email">
            </div>
            <div class="card-form__item">
                <label class="card__label"
                       for="password1Input">Password:</label>
                <input id="password1Input" class="card__input" type="password">
            </div>
            <div class="card-form__item">
                <label class="card__label" for="password2Input">Confirm
                    password:</label>
                <input id="password2Input" class="card__input" type="password">
            </div>
            <!--     in real project input will be used instead of a       -->
            <!--<input class="card__submit" type="submit" value="Sign up">-->
            <a class="card__submit-link" href="main.html">Sign up</a>
        </section>
        <div class="card-auth">
            <p class="card-auth__text">Already have an account?</p>
            <a class="card-auth__link" href="../templates/login.html">Log in</a>
        </div>
    </section>
</main>
</body>
</html>